/*@import url("lib/font-awesome-4.3.0/css/font-awesome.min.css");*/
/*@import url("../lib/w2ui/w2ui-1.4.2.css");*/

/*NOTE: this file must come *after* w2u.css in order to override some of its styles*/
body
{
    xborder: none;
    margin: 0;
    xoverflow: hidden;
    background: #000;
}
body, input
{
    color: #0f0 /*!important*/;
    font-family: Monospace;
    font-size: 13px;
}

#canvas3D, #layout, #background
{
    position: absolute; /*must be absolute; see https://github.com/vitmalina/w2ui/issues/105*/
    width: 100%;
    height: 100%;
/*    z-index: 100; /-* overlay OpenGL canvas*/
    background-color: transparent; /*#f00*/; /*debug*/
}

/*
#topHTML, #bottomHTML
{
    xbackground-color: #eee;
    padding: 10px 5px;
    border-bottom: 1px solid silver;
}
*/

/*
#toolbar
{
    padding: 4px;
    border: 1px solid silver;
    border-radius: 3px
}
*/

.fatal
{
    position: absolute;
    top: 30%;
    left: 10%;
}
a
{
    color: #fff; /*since main text color is #0f0, #fff stands out better than #00f*/
}

#project-tree
{
    height: 100%;
    width: 200px;
}

/*
#layout
{
    background: transparent !important;
}
*/

.fragment
{
    display: none;
}


/*
override w2ui styles:
see css specificity rules at: http://www.vanseodesign.com/css/css-specificity-inheritance-cascaade/
navigate to lowest level element within Chrome, look at style, then trace back where color/bkg is overridden

background gradients with transparency: http://stackoverflow.com/questions/2293910/css3-transparency-gradient
CAUTION: css selectors are sensitive to misplaced "," between
*/
/*xtable
{
    border-color: none;
}*/

/*div #layout div #layout_layout_panel_left*-/ div .w2ui-panel-content .w2ui-reset .w2ui-sidebar
{
    xbackground: transparent /-*none*-/ !important; /-*rgba(0, 0, 0, .3);*-/ /-* allow underlying layer to show thru*-/
}
*/

/*
.NOPE-w2ui-layout /-*CAUTION: must use prefix*-/
{
    position: absolute; /-*REQUIRED; see https://github.com/vitmalina/w2ui/issues/105*-/
    width: 100%;
    height: 100%;
    xbackground: #f00;
    z-index: 100; /-* overlay OpenGL canvas*-/
}
*/

.w2ui-toolbar, /*override w2ui toolbar bkg color*/
.w2ui-layout > div .w2ui-panel .w2ui-panel-toolbar, /*override w2ui toolbar bkg*/
.w2ui-layout > div .w2ui-panel .w2ui-panel-content, /*override w2ui layout bkg*/
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node, /*override w2ui sidebar bkg*/
input:not([type=button]),
.w2ui-form .w2ui-buttons, /*form buttons*/
.w2ui-popup
{
    background-color: transparent;
}
.w2ui-tabs,
.w2ui-sidebar /*need this one to override sidebar*/
/*.w2ui-sidebar .w2ui-sidebar-div .w2ui-node*/
{
    background: transparent /*none*/ !important; /*rgba(0, 0, 0, .3);*/ /* allow underlying layer to show thru*/
}

.w2ui-popup .w2ui-msg-body,
.w2ui-popup .w2ui-msg-buttons
{
    xbackground-color: transparent;
    background-color: rgba(0, 255, 0, .1);
}

/*
.w2ui-layout > div.w2ui-panel .w2ui-panel-toolbar /-*override w2ui toolbar bkg color*-/
{
    xbackground-color: transparent;
}
/-*div #project-tree .w2ui-reset .w2ui-sidebar,
div #project-tree .w2ui-sidebar .w2ui-sidebar-div .w2ui-node,*-/
.w2ui-layout > div .w2ui-panel .w2ui-panel-toolbar /-*need this one for top toolbar*-/
{
    xbackground-color: transparent;
}
.w2ui-layout > div .w2ui-panel .w2ui-panel-content /-*need this one for entire layout*-/
{
    xbackground: transparent /-*none*-/; /-*rgba(0, 0, 0, .3);*-/ /-* allow underlying layer to show thru*-/
}
*/

.w2ui-layout > div.w2ui-panel .w2ui-panel-content, /*override w2ui sidebar text color*/
.w2ui-toolbar table.w2ui-button .w2ui-tb-caption, /*override w2ui toolbar text color*/
.w2ui-toolbar table.w2ui-button .w2ui-tb-image > span, /*override w2ui toolbar icon color*/
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node td.w2ui-node-dots, /*override w2ui sidebar +/- color*/
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-caption, /*override w2ui sidebar text color*/
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image > span, /*override w2ui sidebar icon color*/
.w2ui-sidebar .w2ui-sidebar-div td.w2ui-node-data .w2ui-node-image > span, /*override w2ui sidebar icon color*/
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image, /*override w2ui sidebar text color*/
.w2ui-tabs .w2ui-tab-close,
.w2ui-tabs .w2ui-tab.active,
.w2ui-tabs .w2ui-tab,
.w2ui-field > label,
input:not([type=button]),
button.btn, /*form buttons*/
.w2ui-popup .w2ui-msg-title,
.w2ui-popup .w2ui-msg-body
{
    color: #0f0;
}
/*kludge: force styles that won't override from above:*/
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image > span /*needed for sidebar icon color*/
{
    color: #0f0 !important;
}

.w2ui-tabs .w2ui-tab.active
{
    color: #fff; /*to match sidebar active node color*/
    border: 1px solid #0f0;
}
.w2ui-tabs,
.w2ui-popup
{
    border: 1px solid #060;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-toolbar,
.w2ui-tabs table
{
    border-bottom: none;
}

input:not([type=button])
{
    border-color: #0f0;
}

.w2ui-form .w2ui-buttons,
.w2ui-popup .w2ui-msg-buttons
{
    border-top: 1px solid #060;
}

button.btn /*form buttons*/
{
    box-shadow: none;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node:hover,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover,
.w2ui-tabs .w2ui-tab.active,
.w2ui-form .w2ui-tabs .w2ui-tab.active, /*form tabs*/
button.btn, /*form buttons*/
.w2ui-popup .w2ui-msg-title /*popup title bar*/
{
    border-top: none;
    border-bottom: none;
    border: 1px solid #080;
/*kludge: try one until it works:*/
  background-image: -webkit-linear-gradient(#ff0000, #00ff00);
  background-image: -moz-linear-gradient(#ff0000, #00ff00);
  background-image: -ms-linear-gradient(#ff0000, #00ff00);
  background-image: -o-linear-gradient(#ff0000, #00ff00);
  background-image: linear-gradient(#ff0000, #00ff00);
  background-image: -webkit-linear-gradient(#ff0000, #00ff00);
    background: linear-gradient(to bottom, rgba(0, 255, 0, .4), rgba(0, 255, 0, 0.2));
    x-image: linear-gradient(#69b1e0, #4a96d3);
}

/*xno_style: 'background: #faa; border: 1px solid #f00;', xyes_style: 'background: #afa; border: 1px solid #0f0;'*/
/*button #Yes .w2ui-popup.button .btn
{
    background: linear-gradient(to bottom, rgba(0, 255, 0, .4), rgba(0, 255, 0, 0.2));
    border: 1px solid #0f0;
    color: #0f0;
}*/
/*button #No .w2ui-popup.button .btn*/
button.btn#No
{
    background: linear-gradient(to bottom, rgba(255, 0, 0, .4), rgba(255, 0, 0, 0.2));
    border: 1px solid #f00;
    color: #f00;
}

.w2ui-field.w2ui-span6 > label /*used for form fields*/
{
    width: 70px;
}
.w2ui-field.w2ui-span6 > div /*used for form fields*/
{
    margin-left: 80px;
}
/*.w2ui-form .w2ui-tabs .w2ui-tab.active
{
  background-color: #f50000;
}*/

.w2ui-tabs .w2ui-tab,
.w2ui-panel-content
{
    border: 1px solid #040; /*non-NOTE: caller must remove inline style first*/
    padding: 5px;
}

/*override icon font:*/
.w2ui-reset
{
    color: default;
    font-family: 'FontAwesome'; /*see https://github.com/vitmalina/w2ui/issues/508*/
}

/*
custom checkboxes
see http://codepen.io/jamesbarnett/pen/yILjk
non-latin characters must be encoded; e.g. \00A0 for &nbsp; see https://developer.mozilla.org/en-US/docs/Web/CSS/content

http://www.w3.org/TR/CSS21/selector.html%23id-selectors
https://css-tricks.com/css-content/
https://css-tricks.com/pseudo-element-roundup/
https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
https://developer.mozilla.org/en-US/docs/Web/CSS/pseudo-elements

input[type=checkbox] { display:none; } /-* to hide the checkbox itself *-/
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before { content: "\f096"; } /-* unchecked icon *-/
input[type=checkbox] + label:before { letter-spacing: 10px; } /-* space between checkbox and label *-/

input[type=checkbox]:checked + label:before { content: "\f046"; } /-* checked icon *-/
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /-* allow space for check mark *-/
*/

input[type="checkbox"]
{
    /*display: none;*/
    /*opacity: 0;*/
    margin-left: -200px; /*kludge: couldn't get display:none or opacity:0 tricks to work, so just clip checkbox*/
}
label + div input[type="checkbox"]:not(:checked)::before
{
    font-family: FontAwesome;
    font-size: 14pt;
    content: "\f096"; /*unchecked icon */
    padding-left: 200px; /*must be on :before pseudo-element*/
}
label + div input[type="checkbox"]:checked::before
{
    font-family: FontAwesome;
    font-size: 14pt;
    content: "\f046"; /*checked icon */
    padding-left: 200px; /*must be on :before pseudo-element*/
}
